<app-project-progress></app-project-progress>
<div id="container">
  <div class="content">
    <h1>6. Formulate the problem model</h1>
    <app-more-information [showMoreText]=""></app-more-information>

    <div class="user" style="margin-bottom: 48px;">
      <h3>Formuler un modèle du problème en définissant :</h3>
      <ul>
        <li>The couple in conflict</li>
        <li>The intensified formulation of the conflict</li>
        <li style="font-weight: bold;">The role of element X (which should retain, eliminate, improve, ensure, etc.) introduced to solve this problem</li>
      </ul>
    </div>

    <div class="user">
      <h3>Reminder of the couple in conflict</h3>
      <p *ngFor="let el of elements; let index = index">
        {{"Element " + nbToAlphabet(index) + " : "}}
        <span style="font-weight: bold;">{{el}}</span>
      </p>
    </div>

    <div>
      <h3>Intensified conflict</h3>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" [(ngModel)]="conflict" (focusout)="setConflict()"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div>
      <h3>Required result</h3>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" placeholder="An X-element (something) is required and must allow the gas to propel the ball at the right speed, while preserving its compactness." [(ngModel)]="result" (focusout)="setResult()"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-comment class="comment" [commentValue]="comment" (comment)="setComment($event)"></app-comment>
</div>
