.progress {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(9, 1fr);
  height: 24px;
}

.subprogress {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  height: 24px;
}

.step1 { background-color: aqua; }
.step2 { background-color: blueviolet; }
.step3 { background-color: chartreuse; }
.step4 { background-color: darkgoldenrod; }
.step5 { background-color: fuchsia; }
.step6 { background-color: greenyellow; }
.step7 { background-color: indigo; }
.step8 { background-color: mediumblue; }
.step9 { background-color: olivedrab; }

.step {
  opacity: .1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.step-active {
  opacity: 1;
}
