.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 999;
  color: white;
  width: 100%;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

svg {
  fill: black;
  height: 50%;
}

.header-menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
