header {
  background-color: #fafafa;
  height: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 64px;
  line-height: 64px;
  border-bottom: 1px solid #000;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    margin: 0 16px;
  }
}

#logo {
  margin-top: 16px;
  margin-left: 16px;
  height: 50%;
}

.selection {
  position: relative;
  width: 100%;
  z-index: 999;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .selection {
    width: 64px;
  }
  header {
    display: flex;
    justify-content: space-between;
  }

  .mobile-menu {
    position: sticky;
    bottom: 0;
    height: 64px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid #000;
    background-color: rgba($color: #fff, $alpha: 0.8);

    .mobile-menu-item {
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 25%;
      }
    }
  }
}
