<app-project-progress></app-project-progress>
<div id="container">
  <div class="content">
    <h1>5. Intensifier le problème</h1>
    <app-more-information [showMoreText]=""></app-more-information>

    <div class="user">
      <p *ngFor="let el of elements; let index = index">
        {{"Élément " + nbToAlphabet(index) + " : "}}
        <span style="font-weight: bold;">{{el}}</span>
      </p>
    </div>

    <div>
      <p>Pousser la contrainte technique à l'extrême</p>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Contrainte Technique</mat-label>
        <input matInput [(ngModel)]="ct" (focusout)="setCt()">
      </mat-form-field>
    </div>

    <div>
      <p>Pousser ces liens à l'extrême</p>
      <div *ngFor="let link of links; let index = index">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{"Lien " + (index+1)}}</mat-label>
          <input matInput [(ngModel)]="link" (focusout)="setLinks(link, index)">
        </mat-form-field>
      </div>
    </div>

    <div class="user">
      <p>Intensifier le conflit, après avoir définit l'état (action) extrême des éléments</p>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" placeholder="La vitesse du gaz est si rapide que l’accélération est multipliée par n, notre bille devient de la  poudre fine et n’impacte plus du tout" [(ngModel)]="intensifyConflict" (focusout)="setIntensifyConflict()"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-comment class="comment" [commentValue]="comment" (comment)="setComment($event)"></app-comment>
</div>
