<app-project-progress></app-project-progress>
<div id="container">
  <div class="content">
    <h1>2. Define object and tool</h1>
    <app-more-information [showMoreText]=""></app-more-information>

    <div class="user">
      <p>Definition of the Object</p>
      <div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Objet</mat-label>
          <input matInput placeholder="Bille" [(ngModel)]="object" (focusout)="setObject()">
        </mat-form-field>
      </div>
    </div>

    <div>
      <p>Definition of the Tool</p>
      <div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Outil</mat-label>
          <input matInput placeholder="Gaz" [(ngModel)]="tool" (focusout)="setTool()">
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-comment class="comment" [commentValue]="comment" (comment)="setComment($event)"></app-comment>
</div>
