<div class="login">
  <form class="login-form" [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>{{loginText.email}}</mat-label>
      <input matInput placeholder="john@gmail.com" formControlName="username">
      <mat-error *ngIf="username.hasError('email') && !username.hasError('required')">
        {{loginText.emailErrorPattern}}
      </mat-error>
      <mat-error *ngIf="username.hasError('required')">
        {{loginText.emailErrorRequired}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{loginText.password}}</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="password.hasError('required')">
        {{loginText.passwordRequired}}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="form.invalid">{{loginText.submit}}</button>
  </form>
</div>
