<app-project-progress></app-project-progress>
<div id="container">
  <div class="content">
    <h1>5. Intensify the problem</h1>
    <app-more-information [showMoreText]=""></app-more-information>

    <div class="user">
      <p *ngFor="let el of elements; let index = index">
        {{"Element " + nbToAlphabet(index) + " : "}}
        <span style="font-weight: bold;">{{el}}</span>
      </p>
    </div>

    <div>
      <p>Push the technical constraint to the extreme</p>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Technical Constraint</mat-label>
        <input matInput [(ngModel)]="ct" (focusout)="setCt()">
      </mat-form-field>
    </div>

    <div>
      <p>Push these links to the extreme</p>
      <div *ngFor="let link of links; let index = index">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>{{"Link " + (index+1)}}</mat-label>
          <input matInput [(ngModel)]="link" (focusout)="setLinks(link, index)">
        </mat-form-field>
      </div>
    </div>

    <div class="user">
      <p>Intensify the conflict, after defining the extreme state (action) of the elements</p>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" placeholder="The speed of the gas is so fast that the acceleration is multiplied by n, our ball becomes fine powder and doesn't impact anymore" [(ngModel)]="intensifyConflict" (focusout)="setIntensifyConflict()"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-comment class="comment" [commentValue]="comment" (comment)="setComment($event)"></app-comment>
</div>
