@import '../../../../../styles/general.scss';
@import '../steps-type/basic-input/basic-input.component.scss';

.group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  margin-bottom: 32px;
}
