<form class="login-form" [formGroup]="form">
  <mat-form-field class="w-100">
    <mat-label>{{signinText.email}}</mat-label>
    <input matInput placeholder="john@gmail.com" formControlName="username">
    <mat-error *ngIf="username.hasError('email') && !username.hasError('required')">
      {{signinText.emailErrorPattern}}
    </mat-error>
    <mat-error *ngIf="username.hasError('required')">
      {{signinText.emailErrorRequired}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{signinText.password}}</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="password.hasError('required')">
      {{signinText.passwordRequired}}
    </mat-error>
    <mat-error *ngIf="password.hasError('toShort') && !password.hasError('required')">
      {{signinText.passwordToShort}}
    </mat-error>
    <mat-error *ngIf="password.hasError('noNumber') && !password.hasError('required')">
      {{signinText.passwordNoNumber}}
    </mat-error>
    <mat-error *ngIf="password.hasError('noNormalCase') && !password.hasError('required')">
      {{signinText.passwordNoNormalCase}}
    </mat-error>
    <mat-error *ngIf="password.hasError('noUpperCase') && !password.hasError('required')">
      {{signinText.passwordNoUpperCase}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{signinText.passwordConfirmation}}</mat-label>
    <input matInput type="password" formControlName="passwordConfirmation">
    <mat-error *ngIf="passwordConfirmation.hasError('required')">
      {{signinText.passwordConfirmationErrorRequired}}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid">{{signinText.submit}}</button>
</form>
