<app-project-progress></app-project-progress>
<div id="container">
  <div class="content">
    <h1>1. Simply restate the problem and its characteristics</h1>
    <app-more-information [showMoreText]=""></app-more-information>

    <div class="user">
      <p>State the defining sentence of the system</p>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" placeholder="The system (define) whose Main Function (FPS) is (define) includes (list the main components of the system)." [(ngModel)]="definition" (focusout)="setDefinition()"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="user">
      <p>Define the technical contradiction and its mirror (CT1 & CT2)</p>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" placeholder="Technical Contradiction One (TC1) and its mirror, Technical Contradiction Two (TC2)." [(ngModel)]="contradiction" (focusout)="setContradiction()"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="user">
      <p>State the rewording sentence of the problem</p>
      <div>
        <mat-form-field class="textarea" appearance="fill">
          <textarea matInput rows="5" placeholder="It is necessary to (define the result to be achieved) with a minimum of changes in the system." [(ngModel)]="reformulation" (focusout)="setReformulation()"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-comment class="comment" [commentValue]="comment" (comment)="setComment($event)"></app-comment>
</div>
